{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">

<title>pragyaparamita</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/style4.css' %}">
<link rel="stylesheet" href="{% static 'css/style5.css' %}">
<link rel="stylesheet" href="{% static 'css/style6.css' %}">
<link rel="stylesheet" href="{% static 'css/style7.css' %}">
<link rel="stylesheet" href="{% static 'css/style8.css' %}">
<link rel="stylesheet" href="{% static 'css/style9.css' %}">
<link rel="stylesheet" href="{% static 'css/style10.css' %}">
<link rel="stylesheet" href="{% static 'css/style11.css' %}">

<link rel="stylesheet" href="{% static 'css/woocommerce.css' %}">
<link rel="stylesheet" href="{% static 'css/woocommerce2.css' %}">
<link rel="stylesheet" href="{% static 'css/woocommerce3.css' %}">
</head>

<body id="top" class="home blog woocommerce-no-js">
<div id="pagewrap" >
    <div class="header">
	<div class="header-inner">
      	<div class="logo">
            <img src="{% static 'img/logo.jpeg' %}" width="90" height="90" >
        </div><!-- .logo -->
        
        <div class="header-right">	
        	<div class="toggle">
                <a class="toggleMenu" href="#">
					Menu         
                </a>
        	</div><!-- toggle -->    
            <div class="sitenav">                   
                <div class="menu-header-menu-container">
					<ul id="menu-header-menu" class="menu">
						<li id="menu-item-61" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-61"><a href="/">Home</a></li>
						<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-62"><a href="about">About us</a> </li>
						<li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-143"><a href="courses">Courses</a>
							<ul class="sub-menu">
								<li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="fundamental">Fundamental Stage</a></li>
								<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="prep">Preparation Stage</a></li>
								<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="finalstage">Final Stage</a></li>
								<li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="crash">CBSE Crash Course (Class 10th & 12th)</a></li>
								<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="iitcrash">IIT-JEE/NEET Crash Course (Class 12th)</a></li>
								<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="twelvepass">12th Pass Out</a></li>
							</ul>
						</li>
						<li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147"><a href="blog">Blog</a></li>
						<li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147"><a href="contact">Contact us</a></li>
					</ul></div>                
            </div><!--.sitenav -->
            	<div class="appointment">
					<a href="admission" class="button">Admission Form</a>
            	</div>
			
			
				<div class="clear"></div>
		</div><!-- header-right -->                    
		<div class="clear"></div>
	</div><!-- .header-inner-->        
</div><!-- .header -->

<div class="innerbanner">
	<div class="contact-banner">                  
		<iframe src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317715.7119257101!2d-0.3817839647272491!3d51.528735197655706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1507095372049 width=98% height=400 frameborder=0></iframe> 
        <div class="breadcrumb">
            <div class="container">
                <div id="crumbs"><a href="/">Home</a> &raquo; <span class="current">Admission Form</span></div>            </div><!-- container -->
         </div><!-- breadcrumb -->  
    </div><!-- contact-banner -->
    
    <div class="contact-inner"><h1 class="innerpage-title">Admission Form</h1></div>    
    
</div><!-- innerbanner -->
<div class="container content-area">
    <div class="middle-align">
        <div class="site-main sitefull">                    
           		
            <div class="contact_left">
            	              
            	<div class="contact-box">
                
                    <div class="contact-desc">
                   	 <h4>Offline Admission Form</h4>
                    	<a href="https://2ae0118f-6d57-44ed-9e7c-ae64f77449c2.filesusr.com/ugd/5f2118_c9b94725e7c144e9bb9b222a52057a1b.pdf"> Click Here To Download </a>                </div>
                    <div class="clear"></div>
				</div><!-- contact-box -->
				
				
                <div class="clear"></div>                
            				          
            </div><!-- .contact_top -->
            
            <div class="contact_right">
			<h2>Admission Form</h2>
<div role="form" class="wpcf7" id="wpcf7-f89-p129-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="{% url 'admission' %}" method="POST" class="wpcf7-form" novalidate="novalidate">
	{% csrf_token %}
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="89" />
<input type="hidden" name="_wpcf7_version" value="5.0.3" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f89-p129-o1" />
<input type="hidden" name="_wpcf7_container_post" value="129" />
</div>
<div id="contactform_main">
<p><span class="wpcf7-form-control-wrap names"><input type="text" name="studentname"  size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Student's Name" /></span></p>
<p><span class="wpcf7-form-control-wrap names"><input type="text" name="fathername" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Father's Name" /></span></p>
<p><span class="wpcf7-form-control-wrap email"><input type="email" name="email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email" /></span></p>
<p><span class="wpcf7-form-control-wrap tel"><input type="tel" name="phone"  size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Phone Number" /></span></p>
<div class="clear"></div>
<p>D.O.B:&nbsp;&nbsp;&nbsp;<span class="wpcf7-form-control-wrap tel"><input type="date" name="dateofbirth"  size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-required" aria-required="true" aria-invalid="false"  /></span></p>
<br>
<p>Gender: &nbsp;&nbsp;&nbsp;
<fieldset id="gender">
<p><input type="radio" name="gender" value="Male">&nbsp;&nbsp;&nbsp;Male</span></p>
<p><input type="radio" name="gender" value="Female">&nbsp;&nbsp;&nbsp;Female</span></p>
<p><input type="radio" name="gender" value="Others">&nbsp;&nbsp;&nbsp;Others</span></p>
</fieldset>
<br>
<br>
<div class="clear"></div>
<p><span class="wpcf7-form-control-wrap names"><input type="text" name="schoolname"  size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Student's School Name" /></span></p>
<p><span class="wpcf7-form-control-wrap names"><input type="text" name="address" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Permanent Address" /></span></p>
<div class="clear"></div>

<p>Course: &nbsp;&nbsp;&nbsp;
	<fieldset id="course"></fieldset>
	<p><input type="radio" name="course" value="Aarambh (Class 5th)" >Aarambh (Class 5th)</span></p>
	<p><input type="radio" name="course" value="Aarambh-Pratham (Class 6th)" >Aarambh-Pratham (Class 6th)</span></p>
	<p><input type="radio" name="course" value="Aarambh-Madhyam (Class 7th)">Aarambh-Madhyam (Class 7th) </span></p>
	<p><input type="radio" name="course" value="Aarambh-Uttam (Class 8th) ">Aarambh-Uttam (Class 8th) </span></p>
	<p><input type="radio" name="course" value="Nirmaan (Class 9th)"  /> Nirmaan (Class 9th)</span></p>
	<p><input type="radio" name="course" value=" Nipun (Class 10th)"> Nipun (Class 10th)</span></p>
	<p><input type="radio" name="course" value="Aadhaar (Class 11th)" >Aadhaar (Class 11th) </span> </p>
	<p><input type="radio" name="course" value="Samarpan (Class 12th)">Samarpan (Class 12th) </span>  </p>
	<p><input type="radio" name="course" value="12th Pass Out">12th Pass Out  </span></p>
	<p><input type="radio" name="course" value="Samkalp- CBSE Crash Course (Class 10th & 12th)" >Samkalp- CBSE Crash Course (Class 10th & 12th) </span></p>
	<p><input type="radio" name="course" value="Lakshya- IIT-JEE/NEET Crash Course (Class 12th)">Lakshya- IIT-JEE/NEET Crash Course (Class 12th)</span></p>
	</fieldset>
	<br>
	<br>

	<p><input type="checkbox" name="course" value="Aarambh (Class 5th)" required><a href="https://2ae0118f-6d57-44ed-9e7c-ae64f77449c2.filesusr.com/ugd/5f2118_8473a2786a62442fb4efeb86bb545d34.pdf">&nbsp;&nbsp;&nbsp;I agree to the Terms and Conditions</a></span></p>
<p><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" /></p>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
				
                 
            </div><!-- .contact_bottom -->           
        </div>
        <div class="clear"></div>
    </div>    
</div>

<div id="footer-wrapper" style="background:url(img/banner.jpg) no-repeat scroll center center; background-size:cover;">
	<div class="container">
		<div class="cols-3 widget-column-1"> 
            <h5>About pragyaparamita</h5>
				<p>The Pragya Parmita Society is a result of the collaboration between reputed educationists, professionals, and visionaries from various apex institutions in the country. It is an initiative to provide wings to the creative aspirations of students. Education is neither a business nor a part-time activity for us.</p>
				<p>It is our passion, devotion, and a matter of existence. With the noble intention in our heart and dedication in our mind, we are here to provide innovative solutions for all academic and competitive examination needs.</p>
    
        </div><!-- cols-3.widget-column-1 -->
                       
        <div class="cols-3 widget-column-2">                           	
    	<h5>Quick Links</h5>
            <div class="menu-usefull-links-container">
				<ul id="menu-usefull-links" class="menu">
					<li id="menu-item-148" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-148"><a href="/">Home</a></li>
					<li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="about">About Us</a></li>
					<li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-63 current_page_item menu-item-149"><a href="courses">Courses</a></li>
					<li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a href="admission">Admission Form</a></li>
					<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="blog">Blog</a></li>
					<li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150"><a href="contact">Contact Us</a></li>
				</ul>
			</div>      
        </div><!-- cols-3.widget-column-2 -->
                        
        <div class="cols-3 widget-column-3">  
        	<h5>Useful Links</h5>
            	<div class="menu-contacts-container">
					<ul id="menu-usefull-links" class="menu">
						<li><a href="fundamental">Fundamental Stage</a></li>
						<li ><a href="prep">Preparation Stage</a></li>
						<li ><a href="finalstage">Final Stage</a></li>
						<li><a href="crash">Samkalp-  CBSE Crash Course Class (10th & 12th)</a></li>
						<li><a href="iitcrash">Lakshya-  IIT-JEE/NEET Crash Course (Class 12th)</a></li>
						<li><a href="twelvepass">12th Pass Out</a></li>
					</ul>
				</div>                            		
		</div><!-- cols-3.widget-column-3 -->   
		
		<div class="cols-3 widget-column-4"><h5>Contact Us</h5>
			<div class="contactdetail">
				<p><i class="fa fa-map-marker"></i> Pragya Paramita Shop no F 2, Adjacent to Union Bank of India New Khanna market New Delhi-110003</p>
				<p><i class="fa fa-map-marker"></i> Gaur City-2 Noida Extension -2013053</p>
				<p><i class="fa fa-map-marker"></i> Ground Floor Panchsheel Squire Crossing Republik, Ghaziabad-201016</p>
				  
				<p><i class="fa fa-envelope"></i><a href="mailto:support@pragyaparamita.com">support@pragyaparamita.com

				</a></p>


				<p><i class="fa fa-phone"></i>6393575168, 01204981436</p>
			</div><!-- contactdetail -->	
		</div>
				         		     
					
		
	</div>
    <div class="clear"></div>
</div><!--end .container-->
     
<div class="copyright-wrapper">
    <div class="copyright-inner">
        <div class="copyright-txt">&copy; Copyright pragyaparamita 2020. All rights reserved.</div>
            <div class="social-icons"><a style="background-color:#000000" href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a><a style="background-color:#000000" href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus"></i></a><a style="background-color:#000000" href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a><a style="background-color:#000000" href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a><a style="background-color:#000000" href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a></div>                <div class="designby">Designed By <a href="https://www.digifluentagency.com/" target="_blank">DigiFluent</a></div>
                <div class="clear"></div>
            </div><!-- copyright-inner -->            
       </div><!-- copyright-wrapper -->
       
</div><!-- footer-wrapper -->    
<div id="back-top">
		<a title="Top of Page" href="#top"><span></span></a>
	</div><script type="text/javascript">
//Photo Gallery
jQuery(document).ready(function() {
	jQuery('#mixitup').mixitup({
		animation: {
		  effects: 'fade rotateZ(-180deg)', /* fade scale */
		  duration: 700 /* 600 */
		},
	});
});  

//Wow Animation
if(jQuery(window).width() >= 1170){
  new WOW().init();
}
</script>
	<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	
</div>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/js3.js' %}"></script>
<script src="{% static 'js/js4.js' %}"></script>
<script src="{% static 'js/js5.js' %}"></script>
<script src="{% static 'js/js6.js' %}"></script>
<script src="{% static 'js/js7.js' %}"></script>
<script src="{% static 'js/js8.js' %}"></script>
<script src="{% static 'js/js9.js' %}"></script>
<script src="{% static 'js/js10.js' %}"></script>
<script src="{% static 'js/js11.js' %}"></script>
<script src="{% static 'js/woocoomerce.js' %}"></script>
<script src="{% static 'js/js-cookie.js' %}"></script>
</body>
</html>