{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">

<title>pragyaparamita</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/style4.css' %}">
<link rel="stylesheet" href="{% static 'css/style5.css' %}">
<link rel="stylesheet" href="{% static 'css/style6.css' %}">
<link rel="stylesheet" href="{% static 'css/style7.css' %}">
<link rel="stylesheet" href="{% static 'css/style8.css' %}">
<link rel="stylesheet" href="{% static 'css/style9.css' %}">
<link rel="stylesheet" href="{% static 'css/style10.css' %}">
<link rel="stylesheet" href="{% static 'css/style11.css' %}">

<link rel="stylesheet" href="{% static 'css/woocommerce.css' %}">
<link rel="stylesheet" href="{% static 'css/woocommerce2.css' %}">
<link rel="stylesheet" href="{% static 'css/woocommerce3.css' %}">
</head>

<body id="top" class="home blog woocommerce-no-js">
<div id="pagewrap" >
    <div class="header">
	<div class="header-inner">
      	<div class="logo">
            <img src=" {% static 'img/logo.jpeg' %}" width="90" height="90" >
        </div><!-- .logo -->
        
        <div class="header-right">	
        	<div class="toggle">
                <a class="toggleMenu" href="#">
					Menu         
                </a>
        	</div><!-- toggle -->    
            <div class="sitenav">                   
                <div class="menu-header-menu-container">
					<ul id="menu-header-menu" class="menu">
						<li id="menu-item-61" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-61"><a href="/">Home</a></li>
						<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-62"><a href="about">About us</a> </li>
						<li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-143"><a href="courses">Courses</a>
							<ul class="sub-menu">
								<li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="fundamental">Fundamental Stage</a></li>
								<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="prep">Preparation Stage</a></li>
								<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="finalstage">Final Stage</a></li>
								<li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="crash">CBSE Crash Course (Class 10th & 12th)</a></li>
								<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="iitcrash">IIT-JEE/NEET Crash Course (Class 12th)</a></li>
								<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="twelvepass">12th Pass Out</a></li>
							</ul>
						</li>
						<li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147"><a href="blog">Blog</a></li>
						<li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147"><a href="contact">Contact us</a></li>
					</ul></div>                
            </div><!--.sitenav -->
            	<div class="appointment">
					<a href="admission" class="button">Admission Form</a>
            	</div>
			
			
				<div class="clear"></div>
		</div><!-- header-right -->                    
		<div class="clear"></div>
	</div><!-- .header-inner-->        
</div><!-- .header -->

                             
		
		<div class="innerbanner" style="background:url({% static 'img/banner.jpg' %}) no-repeat scroll center center; background-size:cover;">               
			<div class="container">
            	                         
				<h1 class="innerpage-title">
					<span>                        Blog                                             

                           </span>
                       </h1>
                       
                       <div class="clear"></div>      
					
               </div><!-- container -->              
             
             <div class="breadcrumb">
                <div class="container">
                    <div id="crumbs"><a href="/">Home</a> &raquo; <span class="current">Blog</span></div>                </div><!-- container -->
             </div><!-- breadcrumb -->
             
           </div>        

             
      
	
<div class="container content-area">
    <div class="middle-align">
        <div class="site-main nosidebar">
			                             
                 
                <div class="blog-post-repeat ">                                                  
                    
    
    <article id="post-21" class="post-21 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
        <header class="entry-header">            
	        	            <div class="post-thumb">
                	<a href="http://live-demo.online/yogasana/2018/06/14/yoga-for-begginer/"><img src="http://live-demo.online/yogasana/wp-content/uploads/2018/06/blog1.jpg" /></a>
                    <figcaption>
                                                    <div class="post-date">Posted on 14 June, 2018</div>
                            <div class="post-author">Posted by <a href="http://live-demo.online/yogasana/author/yogasana/" title="Posts by yogasana" rel="author">yogasana</a></div>						
                            <div class="clear"></div>                            																			
                                            </figcaption>
                <!-- post-thumb -->
	                    
        </header><!-- .entry-header -->
    
                    <div class="entry-summary">            	
            	<div class="post-content">                	
                    <h3 class="post-title"><a href="http://live-demo.online/yogasana/2018/06/14/yoga-for-begginer/" rel="bookmark">Yoga For Begginer</a></h3>                    
                    <p>Sed sit amet arcu sit amet neque dapibus commodo. Integer faucibus, torto efficitur gravida, nisi est egestas nulla, non porta dolor erat quis elit. Suspendisse facilisis, velit sed sodales&#8230;</p>
                                     
                    <a class="ReadMore" href="http://live-demo.online/yogasana/2018/06/14/yoga-for-begginer/">Read More</a></p>
                </div><!--post-content--><div class="clear"></div>
            </div><!-- .entry-summary -->
                
    </article><!-- #post-## -->
    
                </div><!-- blog-post-repeat -->  
                 
                 
                <div class="blog-post-repeat lastmar">                                                  
                    
    
    <article id="post-18" class="post-18 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
        <header class="entry-header">            
	        	            <div class="post-thumb">
                	<a href="http://live-demo.online/yogasana/2018/06/14/women-yoga-session/"><img src="http://live-demo.online/yogasana/wp-content/uploads/2018/06/blog2.jpg" /></a>
                    <figcaption>
                                                    <div class="post-date">Posted on 14 June, 2018</div>
                            <div class="post-author">Posted by <a href="http://live-demo.online/yogasana/author/yogasana/" title="Posts by yogasana" rel="author">yogasana</a></div>						
                            <div class="clear"></div>                            																			
                                            </figcaption>
                <!-- post-thumb -->
	                    
        </header><!-- .entry-header -->
    
                    <div class="entry-summary">            	
            	<div class="post-content">                	
                    <h3 class="post-title"><a href="http://live-demo.online/yogasana/2018/06/14/women-yoga-session/" rel="bookmark">Women Yoga Session</a></h3>                    
                    <p>Sed sit amet arcu sit amet neque dapibus commodo. Integer faucibus, torto efficitur gravida, nisi est egestas nulla, non porta dolor erat quis elit. Suspendisse facilisis, velit sed sodales&#8230;</p>
                                     
                    <a class="ReadMore" href="http://live-demo.online/yogasana/2018/06/14/women-yoga-session/">Read More</a></p>
                </div><!--post-content--><div class="clear"></div>
            </div><!-- .entry-summary -->
                
    </article><!-- #post-## -->
    
                </div><!-- blog-post-repeat -->  
                 
                 

                
                                                                    </div>
        <div class="clear"></div>
    </div>
</div>


<div id="footer-wrapper" style="background:url({% static 'img/banner.jpg' %}) no-repeat scroll center center; background-size:cover;">
	<div class="container">
		<div class="cols-3 widget-column-1"> 
            <h5>About pragyaparamita</h5>
				<p>The Pragya Parmita Society is a result of the collaboration between reputed educationists, professionals, and visionaries from various apex institutions in the country. It is an initiative to provide wings to the creative aspirations of students. Education is neither a business nor a part-time activity for us.</p>
				<p>It is our passion, devotion, and a matter of existence. With the noble intention in our heart and dedication in our mind, we are here to provide innovative solutions for all academic and competitive examination needs.</p>
    
        </div><!-- cols-3.widget-column-1 -->
                       
        <div class="cols-3 widget-column-2">                           	
    	<h5>Quick Links</h5>
            <div class="menu-usefull-links-container">
				<ul id="menu-usefull-links" class="menu">
					<li id="menu-item-148" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-148"><a href="/">Home</a></li>
					<li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="about">About Us</a></li>
					<li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-63 current_page_item menu-item-149"><a href="courses">Courses</a></li>
					<li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a href="admission">Admission Form</a></li>
					<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="blog">Blog</a></li>
					<li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150"><a href="contact">Contact Us</a></li>
				</ul>
			</div>      
        </div><!-- cols-3.widget-column-2 -->
                        
        <div class="cols-3 widget-column-3">  
        	<h5>Useful Links</h5>
            	<div class="menu-contacts-container">
					<ul id="menu-usefull-links" class="menu">
						<li><a href="fundamental">Fundamental Stage</a></li>
						<li ><a href="prep">Preparation Stage</a></li>
						<li ><a href="finalstage">Final Stage</a></li>
						<li><a href="crash">Samkalp-  CBSE Crash Course Class (10th & 12th)</a></li>
						<li><a href="iitcrash">Lakshya-  IIT-JEE/NEET Crash Course (Class 12th)</a></li>
						<li><a href="twelvepass">12th Pass Out</a></li>
					</ul>
				</div>                            		
		</div><!-- cols-3.widget-column-3 -->   
		
		<div class="cols-3 widget-column-4"><h5>Contact Us</h5>
			<div class="contactdetail">
				<p><i class="fa fa-map-marker"></i> Pragya Paramita Shop no F 2, Adjacent to Union Bank of India New Khanna market New Delhi-110003</p>
				<p><i class="fa fa-map-marker"></i> Gaur City-2 Noida Extension -2013053</p>
				<p><i class="fa fa-map-marker"></i> Ground Floor Panchsheel Squire Crossing Republik, Ghaziabad-201016</p>
				  
				<p><i class="fa fa-envelope"></i><a href="mailto:support@pragyaparamita.com">support@pragyaparamita.com

				</a></p>


				<p><i class="fa fa-phone"></i>6393575168, 01204981436</p>
			</div><!-- contactdetail -->	
		</div>
				         		     
					
		
	</div>
    <div class="clear"></div>
</div><!--end .container-->
     
<div class="copyright-wrapper">
    <div class="copyright-inner">
        <div class="copyright-txt">&copy; Copyright pragyaparamita 2020. All rights reserved.</div>
            <div class="social-icons"><a style="background-color:#000000" href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a><a style="background-color:#000000" href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus"></i></a><a style="background-color:#000000" href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a><a style="background-color:#000000" href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a><a style="background-color:#000000" href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a></div>                <div class="designby">Designed By <a href="https://www.digifluentagency.com/" target="_blank">DigiFluent</a></div>
                <div class="clear"></div>
            </div><!-- copyright-inner -->            
       </div><!-- copyright-wrapper -->
       
</div><!-- footer-wrapper -->    
<div id="back-top">
		<a title="Top of Page" href="#top"><span></span></a>
	</div><script type="text/javascript">
//Photo Gallery
jQuery(document).ready(function() {
	jQuery('#mixitup').mixitup({
		animation: {
		  effects: 'fade rotateZ(-180deg)', /* fade scale */
		  duration: 700 /* 600 */
		},
	});
});  

//Wow Animation
if(jQuery(window).width() >= 1170){
  new WOW().init();
}
</script>
	<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	
</div>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/js3.js' %}"></script>
<script src="{% static 'js/js4.js' %}"></script>
<script src="{% static 'js/js5.js' %}"></script>
<script src="{% static 'js/js6.js' %}"></script>
<script src="{% static 'js/js7.js' %}"></script>
<script src="{% static 'js/js8.js' %}"></script>
<script src="{% static 'js/js9.js' %}"></script>
<script src="{% static 'js/js10.js' %}"></script>
<script src="{% static 'js/js11.js' %}"></script>
<script src="{% static 'js/woocoomerce.js' %}"></script>
<script src="{% static 'js/js-cookie.js' %}"></script>
</body>
</html>